h1
{
    color:blue;
    text-align:center;
    
}
body
{
	background-color:rgb(0, 153, 255);
}
h3
{
    color:rgb(200, 255, 0);
   
    
}
h2
{
    color:rgb(200, 255, 0);
   
    
}